/* for mobile devices */
@media screen and (max-width: 500px) {
  .navbar-toggler {
    display: none;
  }
  
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    background: white;
    z-index: 111;
  }
}

hr {
  padding: 0;
  margin: 0;
}

